.navbar__container {
  border-bottom: 1px solid #E4E7EB;

}

.navbar {
  padding-left: 80px;
  max-width: $max-width;
  margin: 0 auto;

  &__logo {
    font-weight: 700;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: right;
    color: $black;

    span {
      font-weight: 400 !important;
    }
  }

  &__profile {
    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: #1A1A1A;
      margin: 0 24px 0 8px;
    }
  }

  &__logout {
    cursor: pointer;
    padding: 25px 26px;
    border-right: 1px solid $light-gray;
    border-left: 1px solid $light-gray;
  }

  &__links {
    a {
      text-decoration: none;
      padding: 32px 7px;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: $black;
      transition: 0.3s;

      &:hover {
        background: $light-blue;
      }
    }
  }

  .router-link-active {
    color: $blue;
    background: $light-blue;
    border-bottom: 1px solid $blue;
  }
}

.v-btn {
  height: unset !important;
  padding: 10px 41px !important;
  border-radius: 5px !important;
  text-transform: unset;
}

.page-header {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #0C2443;
}

.status-btn {
  padding: 9px 38px !important;
  width: 140px !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}

.green {
  background: $green;
}

.yellow {
  background: $yellow;
}

.red {
  background: $red;
}

.transparent-btn {
  border: 1px solid $blue;
  background: transparent !important;
  color: $blue;

  svg {
    margin-right: 12px;
  }

  &-red {
    border: 1px solid #FF0000;
    color: #FF0000;
  }
}

.filter-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 14px 20px !important;
  color: $blue;
  background: $light-blue;

  svg {
    margin-left: 8px;
  }
}

.v-pagination__item {
  height: max-content;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid $light-gray;

  .v-btn {
    padding: 5px !important;
    height: 32px !important;
    width: 32px !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
}

.primary-btn {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  background: $blue;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.v-pagination__item--is-active {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #3E66FB;

  .v-btn {
    color: #3E66FB !important;
  }
}

.v-pagination__prev,
.v-pagination__next {
  display: none;
}

.v-breadcrumbs-item, .v-breadcrumbs-divider {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #CBD6E3;
}

.v-breadcrumbs-item--disabled {
  color: black;
}

.show-login-credentials {
  color: $blue;
}

.btn-width {
  width: 220px;
  padding: 10px 0 !important;
}

.grid__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 5px;

  &__2 {
    grid-template-columns: 2fr 1fr;
  }

  &__4 {
    grid-template-columns: 4fr 1fr;
  }

  .grid__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #CBD6E3;
  }

  .grid__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1A;
  }
}

.tab-page {
  //position: absolute;
  //width: 100%;
  //top: 0;
  //left: 0;

  h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #1A1A1A;
}

.tab__link {
  border: 1px solid #4685D7;
  border-radius: 5px;
  overflow: hidden;
  width: max-content;
  margin: 37px auto;

  a {
    transition: 0.4s;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
    padding: 8px 24px;
  }

  .active-tab {
    background: $blue;
    color: white;
  }
}

.v-field--variant-filled .v-field__overlay, .v-field__outline {
  display: none !important;
}

.v-input__details {
  display: none;
}

.v-input {
  border: 1px solid #D3DDE7;
  border-radius: 5px;
  background: white;
}

.profile__row {
  margin-bottom: 60px;
}